PORT=5000
HOST=localhost

DB_PASSWORD=postgres
DB_USER=postgres
DB_PORT=5433

JWT_ACCESS_SECRET=access-secret-key
JWT_REFRESH_SECRET=refresh-secret-key

# Directus настройки
SECRET=admin-secret-key
ADMIN_EMAIL=admin@email.com
ADMIN_PASSWORD=Admin123